
      	<div class="col-lg-6">

			<div class="col-lg-12">
				<h5><b>Choose a setting.</b><h5>

				<div class="maze-setting list-group">
					<table class="table col-lg-12">
						<tr>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(1);">
									<h5>Cornfield</h4><img src="<%= asset_path('cornstalk.png'); %>" width="50" />
								</a>

							</td>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(2);">
									<h5>Ocean</h4><img src="<%= asset_path('wave-icon.png'); %>" width="50" />
								</a>

							</td>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(3);">
									<h5>Ocean</h4><img src="<%= asset_path('wave-icon.png'); %>" width="50" />
								</a>

							</td>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(4);">
									<h5>Ocean</h4><img src="<%= asset_path('wave-icon.png'); %>" width="50" />
								</a>

							</td>
						</tr>
						<tr>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(5);">
									<h5>Cornfield</h4><img src="<%= asset_path('cornstalk.png'); %>" width="50" />
								</a>

							</td>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(6);">
									<h5>Ocean</h4><img src="<%= asset_path('wave-icon.png'); %>" width="50" />
								</a>

							</td>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(7);">
									<h5>Ocean</h4><img src="<%= asset_path('wave-icon.png'); %>" width="50" />
								</a>

							</td>
							<td width="25%">
								<a href="#" class="list-group-item" onclick="javascript:saveSetting(8);">
									<h5>Ocean</h4><img src="<%= asset_path('wave-icon.png'); %>" width="50" />
								</a>

							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="layouts col-lg-12"><br />
			<h5><b>Choose a maze, or click on the grid to draw your own.</b></h5>

			<%= render 'layouts/list_for_mazes' %>

			</div>
    	</div>
		<div class="field col-lg-6">
			<div class="col-lg-12">
				<h5><b>Name your maze.</b></h5> <%= f.text_field :title, :size => 53 %><br /><br />
			</div>
			<div id="mazebuilder" class="col-lg-10" align="center"></div>
			<%= f.hidden_field :layout%>
			<%= f.hidden_field :setting_id %>
			<!--input type="hidden" name="layout" id="layout" value="<%= render plain: @layout %>" ///-->

			<div class="field col-lg-2">
				<button type="button" class="maze-reset btn btn-default" onclick='resetDraw()'>
					<%= image_tag "reset.png", width:'50', height:'50' %>
				</button>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready
	        {
				var mazePuzzle = new MazeLayout('mazebuilder',75,5,5);
				var setting_id = $('#maze_setting_id').val();
				var layout = $('#maze_layout').val();

				console.log("layout:" + layout)

				if (layout == "")
				{
					layout = "[[1,1,1,1,1],[1,1,1,1,1],[1,1,1,1,1],[1,1,1,1,1],[1,1,1,1,1]]";
				}
				mazePuzzle.setMap(jQuery.parseJSON(layout));

				if (setting_id != null)
				{
					settingImg = mazePuzzle.setSetting(setting_id);
				}

	      		settingImg.onload = function()
	      		{
					mazePuzzle.show();
	      		}

				//attach events
			    $("#mazebuilder").click(
			    	function(event) {
				    	col = mazePuzzle.getEventCol(event);
				    	row = mazePuzzle.getEventRow(event);

				    	mazePuzzle.toggleColor(col,row);

				    	mazePuzzle.saveJSON("#maze_layout");
			    	}
			    );


				var sampleMaze01 = new MazeLayout("samplemaze1",25,5,5);
				sampleMaze01.setMap(jQuery.parseJSON($('#mazestring1').val()));
				sampleMaze01.show();

				$("#samplemaze1").click(
					function(event) {
						var map = $("#mazestring1").val();
						mazePuzzle.setMap(jQuery.parseJSON(map))
						mazePuzzle.updateLayout();

						$("#maze_layout").val(map);
					}
				);


				var sampleMaze02 = new MazeLayout("samplemaze2",25,5,5);
				sampleMaze02.setMap(jQuery.parseJSON($('#mazestring2').val()));
				sampleMaze02.show();

				$("#samplemaze2").click(
					function(event) {
						var map = $("#mazestring2").val();
						$("#maze_layout").val(jQuery.parseJSON(map));
						mazePuzzle.updateLayout();

						$("#maze_layout").val(map);
					}
				);


				var sampleMaze03 = new MazeLayout("samplemaze3",25,5,5);
				sampleMaze03.setMap(jQuery.parseJSON($('#mazestring3').val()));
				sampleMaze03.show();

				$("#samplemaze3").click(
					function(event) {
						var map = $("#mazestring3").val();
						$("#maze_layout").val(jQuery.parseJSON(map));
						mazePuzzle.updateLayout();	

						$("#maze_layout").val(map);
					}
				);


				function saveSetting(setting_id)
		      	{
		      		$('#maze_setting_id').val(setting_id);
		      		mazePuzzle.setSetting(setting_id);
		      		mazePuzzle.updateLayout();
		      	}
				function resetDraw() {
					$("#maze_layout").val("[[1,1,1,1,1],[1,1,1,1,1],[1,1,1,1,1],[1,1,1,1,1],[1,1,1,1,1]]");
			    }
			}
		</script>