
			
		<div class="col-lg-6">
			<h4>Drag the character and goal to an empty space</h4>
			<div class="field">
				<div id="mazebuilder"></div>
				<%= f.hidden_field :layout, :value => @maze.layout %>
				<%= f.hidden_field :setting_id, :value => @maze.setting_id %>
				<%= f.hidden_field :main_character_id, :value => @maze.main_character_id %>
				<%= f.hidden_field :goal_id, :value => @maze.goal_id %>
				<%= f.hidden_field :start %>
				<%= f.hidden_field :end %>
				<!--input type="hidden" name="layout" id="layout" value="<%= render plain: @layout %>" ///-->
			</div>
		</div>
		<div class="col-lg-3">
			<h4>Main Character:</h4>
			<%= image_tag('dog.png', {:id =>'maincharacter', :class => 'draggable'}) %>
		</div>

		<div class="col-lg-3">
			<h4>Goal:</h4>
			<%= image_tag('dog-bowl.png', {:id => 'goal', :class =>'draggable'}) %>
		</div>

		<%= image_tag('cornstalk.png', {:id => 'setting', :onload => "console.log('loaded')"}) %>
		<script type="text/javascript">
				function preload(arrayOfImages) {
					console.log("preloading");
					$(arrayOfImages).each(function () {
				        $('<img class="preloader" />').attr('src',this).appendTo('body').css('display','none');
				        console.log(this.src)
				    });
				};

				// Usage:
				preload(['<%= asset_path('dog.png') %>'],['<%= asset_path('cornstalk.png') %>'],['<%= asset_path('dog-bowl.png') %>']);
				$("#maincharacter").draggable();
				$("#goal").draggable();

				$("#mazebuilder").droppable({
					drop: function( event, ui ) {
			        saveCoordinates(this,event,ui)
			      }
				});

				function saveCoordinates(canvas,event,ui)
				{
					rect = $("#mazebuilder .maze")[0].getBoundingClientRect();
					x = event.clientX - rect.left;
					y = event.clientY - rect.top;
				
					col = Math.floor(x / 50);
					row = Math.floor(y / 50);

					endpoint = event.toElement.id;

					if (endpoint == "maincharacter")
					{
						$("#maze_start").val("[" + col + "," + row + "]");
					}
					else if (endpoint == "goal")
					{
						$("#maze_end").val("[" + col + "," + row + "]");
					}

					//TODO: snap this element to the grid

					console.log(endpoint + " coordinates:" + col + ", " + row);
				}
	    	</script>