
			
	<div class="col-lg-6">

			<h4>Drag the character and goal to an empty space.</h4>
		<div class="col-lg-6" style="margin-top:25px">
			<div align="center">
				<h4>Main Character:</h4>
				<div style="border:1px solid #c0c0c0;width:100px;height:100px;">
					<%= image_tag('dog.png', {:id =>'maincharacter', :class => 'draggable', :style => 'margin-left:-25px;margin-top:25px;'}) %>
				</div>
			</div>
		</div>

		<div class="col-lg-6" style="margin-top:25px">
			<div align="center">
				<h4>Goal:</h4>
				<div style="border:1px solid #c0c0c0;width:100px;height:100px;">
					<%= image_tag('dog-bowl.png', {:id => 'goal', :class =>'draggable', :style => 'margin-left:-25px;margin-top:25px;'}) %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
			<div class="field">
				<div id="mazebuilder" align="center"></div>
				<%= f.hidden_field :layout, :value => @maze.layout %>
				<%= f.hidden_field :setting_id, :value => @maze.setting_id %>
				<%= f.hidden_field :main_character_id, :value => @maze.main_character_id %>
				<%= f.hidden_field :goal_id, :value => @maze.goal_id %>
				<%= f.hidden_field :start %>
				<%= f.hidden_field :end %>
				<!--input type="hidden" name="layout" id="layout" value="<%= render plain: @layout %>" ///-->
			</div>
		</div>

		<%= image_tag('cornstalk.png', {:id => 'setting'}) %>
		<script type="text/javascript">
				function preload(arrayOfImages) {
					$(arrayOfImages).each(function () {
				        $('<img class="preloader" />').attr('src',this).appendTo('body').css('display','none');
				        console.log(this.src)
				    });
				};

				// Usage:
				preload(['<%= asset_path('dog.png') %>'],['<%= asset_path('cornstalk.png') %>'],['<%= asset_path('dog-bowl.png') %>']);
				$("#maincharacter").draggable();
				$("#goal").draggable();

				$("#mazebuilder").droppable({
					drop: function( event, ui ) {
			        saveCoordinates(this,event,ui)
			      }
				});

				function saveCoordinates(canvas,event,ui)
				{
					rect = $("#mazebuilder .maze")[0].getBoundingClientRect();
					x = event.clientX - rect.left;
					y = event.clientY - rect.top;
				
					col = Math.floor(x / 75);
					row = Math.floor(y / 75);

					endpoint = event.toElement.id;

					if (endpoint == "maincharacter")
					{
						$("#maze_start").val("[" + row + "," + col + "]");
					}
					else if (endpoint == "goal")
					{
						$("#maze_end").val("[" + row + "," + col + "]");
					}

					//TODO: snap this element to the grid

					console.log(endpoint + " coordinates:" + row + ", " + col);
				}
	    	</script>