
		<div class="col-lg-6">
			<h4>Solve your maze</h4>
			<div class="field">
				<div id="mazebuilder">
				</div>
				<%= f.hidden_field :layout, :value => @maze.layout %>
				<%= f.hidden_field :setting_id, :value => @maze.setting_id %>
				<%= f.hidden_field :main_character_id, :value => @maze.main_character_id %>
				<%= f.hidden_field :goal_id, :value => @maze.goal_id %>
				<%= f.hidden_field :start %>
				<%= f.hidden_field :end %>
				<%= f.hidden_field :startCoordinates %>
				<%= f.hidden_field :endCoordinates %>
				<!--input type="hidden" name="layout" id="layout" value="<%= render plain: @layout %>" ///-->
			</div>
		</div>
		<script>
		    function blocklyLoaded(blockly) {
		      // Called once Blockly is fully loaded.
		      window.Blockly = blockly;
		    }

			var instructions = [];

			function moveNorth()
			{
			  instructions.push('mazePuzzle.move("north")');
			}
			function moveEast()
			{
			  instructions.push('mazePuzzle.move("east")');

			}
			function moveSouth()
			{
			  instructions.push('mazePuzzle.move("south")');

			}
			function moveWest()
			{
			  instructions.push('mazePuzzle.move("west")');

			}

		    function runCode() {
				var code = Blockly.JavaScript.workspaceToCode();
				instructions = [];


		    	try {
				    eval(code);
				} catch (e) {
					// Null is thrown for infinite loop.
					// Otherwise, abnormal termination is a user error.
					if (e !== Infinity) {
					  alert(e);
					}
				}


				setupPuzzle("reset");

				for (var i=0;i<instructions.length;i++)
				{
					interval = 1000;
					step = i+1;
					setTimeout('eval(instructions[' + i + '])',interval*step)
				}
		    }

		    function resetSolution() {
				Blockly.mainWorkspace.clear();
				setupPuzzle("reset");
		    }
		</script>
			<div class="col-lg-6">
				<iframe src="/static/blocklymaze" class="blockly col-lg-10" style="border:0 1px 1px 0;border-style:solid;border-color:#ddd;padding:0;height:400px;clear:both;float:left"></iframe>
				<div class="col-lg-2">
					<button type="button" class="maze-run btn btn-primary" onclick="runCode()">
						<%= image_tag "run.png", width:'50', height:'50' %>
					</button>
					<br /><br />
					<button type="button" class="maze-reset btn btn-default" onclick='resetSolution()'>
						<%= image_tag "reset.png", width:'50', height:'50' %>
					</button>
				</div>

			</div>
		<script type="text/javascript">
			
			$(window).load
	        {
				var mazePuzzle = new MazeLayout('mazebuilder',75,5,5);
				mazePuzzle.setMap(jQuery.parseJSON($('#maze_layout').val()));

	      		settingImg = mazePuzzle.setSetting($('#maze_setting_id').val());
	      		
	      		settingImg.onload = function()
	      		{

	      			setupPuzzle("new");
	      		}

			}

			function setupPuzzle(step) 
			{
				coordinates = jQuery.parseJSON($('#maze_start').val());
      			row = coordinates[0];
      			col = coordinates[1];

      			maincharacterImg = mazePuzzle.setMainCharacter($('#maze_main_character_id').val(),col,row);

      			maincharacterImg.onload = function()
      			{

	      			coordinates = jQuery.parseJSON($('#maze_end').val());
	      			row = coordinates[0];
	      			col = coordinates[1];

      				goalImg = mazePuzzle.setGoal($('#maze_goal_id').val(),col,row);

      				goalImg.onload = function()
      				{
      					if (step == "reset")
      					{
      						mazePuzzle.updateLayout();
      					}
      					else 
      					{
							mazePuzzle.show();
      					}
      				}
      			}
			}

	    </script>