
  <div class="panel-heading"><%= render plain: @title %></div>

	<%= form_for @maze do |f|%>
	<div class="panel-body">  
    <div class="row">
      <div class="col-lg-12">

        <% if @maze.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@maze.errors.count, "error") %> prohibited this maze from being saved:</h2>

              <ul>
                <% @maze.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  		
    <%= render "#{@maze.current_step}_step", :f => f %>
  </div>
  <div class="panel-footer">
  	<div class="row">
      <div class="col-lg-6">
        <div class="btn-group">
          <button class="btn btn-default" type="button" onclick="showHelp()">
            <%= image_tag "help.png", height:'50', width:'50' %>
          </button>
        </div>
      </div>
      <div class="col-lg-6" style="text-align:right">
         <%= f.submit "Back", :type => :image, :src => image_path("back.png"), class: "btn btn-default", :name => "back_button", height:'64',width:'76' unless @maze.first_step?  %>

        <% if @maze.current_step == "setting" %>
      	 <%= image_submit_tag "next.png", class: "btn btn-default", height:'64',width:'76', :onclick => "updateForm()" %>
        <% elsif %>
         <%= image_submit_tag "next.png", class: "btn btn-default", height:'64',width:'76' %>
        <% end %>

     	</div>  
    </div>
  </div>
  <% end %>
