<%= form_for @setting, :url => settings_path, :html => { :multipart => true } do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, id:"image" %>
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
