<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @main_character.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @main_character.image %>
</p>

<p>
  <strong>Maze:</strong>
  <%= @main_character.maze %>
</p>

<%= link_to 'Edit', edit_main_character_path(@main_character) %> |
<%= link_to 'Back', main_characters_path %>
