<%= form_for(@mazemap) do |f| %>
  <% if @mazemap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mazemap.errors.count, "error") %> prohibited this mazemap from being saved:</h2>

      <ul>
      <% @mazemap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maze %><br>
    <%= f.text_field :maze %>
  </div>
  <div class="field">
    <%= f.label :layout_id %><br>
    <%= f.text_field :layout_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
