<p id="notice"><%= notice %></p>

<p>
  <strong>Maze:</strong>
  <%= @mazemap.maze %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @mazemap.layout %>
</p>

<%= link_to 'Edit', edit_mazemap_path(@mazemap) %> |
<%= link_to 'Back', mazemaps_path %>
