
			
	<div class="col-lg-6">

			<h4>Drag the character and goal to an empty space.</h4>
		<div class="col-lg-6">
				<h4>Main Character:</h4>
				<div style="width:100px;height:100px;">
					<%= image_tag('dog.png', {:id =>'maincharacter', :class => 'draggable'}) %>
				</div>
		</div>

		<div class="col-lg-6">
				<h4>Goal:</h4>
				<div style="width:100px;height:100px;">
					<%= image_tag('dog-bowl.png', {:id => 'goal', :class =>'draggable'}) %>
				</div>
		</div>
	</div>
	<div class="col-lg-6">
			<div class="field col-lg-10">
				<div id="mazebuilder" style="float:right"></div>
				<%= f.hidden_field :layout, :value => @maze.layout %>
				<%= f.hidden_field :setting_id, :value => @maze.setting_id %>
				<%= f.hidden_field :main_character_id, :value => @maze.main_character_id %>
				<%= f.hidden_field :goal_id, :value => @maze.goal_id %>
				<%= f.hidden_field :start %>
				<%= f.hidden_field :end %>
				<%= f.hidden_field :startCoordinates %>
				<%= f.hidden_field :endCoordinates %>
				<input type="hidden" name="step" id="step" value="<%= render plain: @maze.current_step %>" />
			</div>
			<div class="col-lg-2">
				<button type="button" class="btn btn-default" onclick='resetDraw()'>
					<%= image_tag "reset.png", width:'50', height:'50' %>
				</button>
			</div>			
		</div>

		<%= image_tag('cornstalk.png', {:id => 'setting'}) %>
		<script type="text/javascript">
				function preload(arrayOfImages) {
					$(arrayOfImages).each(function () {
				        $('<img class="preloader" />').attr('src',this).appendTo('body').css('display','none');
				        console.log(this.src)
				    });
				};

				// Usage:
				preload(['<%= asset_path('dog.png') %>'],['<%= asset_path('cornstalk.png') %>'],['<%= asset_path('dog-bowl.png') %>']);

				$("#maincharacter").draggable(
					{
						stack:'#mazebuilder',
						revert: function(event,ui) {
							$(this).data("uiDraggable").originalPosition = {
				                top : 40,
				                left : 20
				            };


            				return !event;
						}
					});
				$("#goal").draggable({
						stack:'#mazebuilder',
						revert: function(event,ui) {
							$(this).data("uiDraggable").originalPosition = {
				                top : 40,
				                left : 20
				            };


            				return !event;
						}});

				$("#mazebuilder").droppable({
					drop: function( event, ui ) {
			        saveCoordinates(this,event,ui)
			      }
				});

				function saveCoordinates(canvas,event,ui)
				{
					rect = $("#mazebuilder .maze")[0].getBoundingClientRect();
					x = event.clientX - rect.left;
					y = event.clientY - rect.top;
				
					col = Math.floor(x / 75);
					row = Math.floor(y / 75);

					endpoint = event.toElement.id;

					if (endpoint == "maincharacter")
					{
						$("#maze_start").val("[" + row + "," + col + "]");
						$("#maze_startCoordinates").val("[" + x + "," + y + "]");
					}
					else if (endpoint == "goal")
					{
						$("#maze_end").val("[" + row + "," + col + "]");
						$("#maze_endCoordinates").val("[" + x + "," + y + "]");
					}

					//TODO: snap this element to the grid

					console.log("LOOK HERE:" + endpoint + " x:" + x + ", y:" + y);
				}

				function resetDraw() {
					$('#goal').css('left', '20px').css('top', '40px');
					$('#maincharacter').css('left', '20px').css('top', '40px');
			    }

	    	</script>