
<% form_for(@maze) do |f|%>
  <div class="panel-heading"><%= render plain: @title %></div>
    <div class="panel-body">  

      <div class="col-lg-6">
        <% if @maze.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@maze.errors.count, "error") %> prohibited this maze from being saved:</h2>

              <ul>
                <% @maze.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= render 'layouts/buildmaze' %>
      </div>
      <div class="col-lg-6">

      <div class="layouts">
        <h3>Choose one to start:</h3>

        <%= render 'layouts/list_for_mazes' %>

  <!--div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :layout %><br>
    <%= f.text_field :layout %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.text_field :end %>
  </div>
  <div class="field">
    <%= f.label :setting_id %><br>
    <%= f.text_field :setting_id %>
  </div>
  <div class="field">
    <%= f.label :main_character_id %><br>
    <%= f.text_field :main_character_id %>
  </div>
  <div class="field">
    <%= f.label :goal_id %><br>
    <%= f.text_field :goal_id %>
  </div//-->
      </div>
    </div>
  </div>
</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-lg-6">
      <div class="btn-group">
        <button type="button" class="btn btn-default">
          <%= image_tag "help.png" height:'50', width:'50' %>
        </button>
      </div>
    </div>
    <div class="col-lg-6" style="text-align:right">
      <button type="button" class="btn btn-default">
        Next Step
      </button>
    </div>  
  </div>
</div>
<% end %>
