<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @maze.title %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @maze.layout %>
</p>

<p>
  <strong>Start:</strong>
  <%= @maze.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @maze.end %>
</p>

<p>
  <strong>Setting:</strong>
  <%= @maze.setting %>
</p>

<p>
  <strong>Main character:</strong>
  <%= @maze.main_character %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @maze.goal %>
</p>

<p>
  <strong>Puzzle:</strong>
  <%= @maze.puzzle %>
</p>

<%= link_to 'Edit', edit_maze_path(@maze) %> |
<%= link_to 'Back', mazes_path %>
