<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @goal.image %>
</p>

<p>
  <strong>Maze:</strong>
  <%= @goal.maze %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
